<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title},_,_)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Collections</title>
</head>
<body>
<div th:replace="layout :: header(_)">Header</div>
<div th:replace="layout :: general(~{this :: #content})">
    <div id="content">
        <div class="container justify-content-center col-5">
            <div class="alert alert-primary">Collections</div>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer">Footer</footer>
</body>
</html>