<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, links, scripts)">

    <title th:replace="${title}"  th:text="#{layout.title}">Knowledge</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/common.css" th:src="@{/css/common.css}">
    <link rel="stylesheet" href="/css/handsontable.full.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/common.js" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" src="/js/handsontable.full.min.js"></script>

    <th:block th:replace="${links}"/>

    <th:block th:replace="${scripts}"/>
</head>
<body class="bg-light">

<!--Header-->
<div th:fragment="header(links)" class="row" id="topic">
    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="links">
        <th:block  th:replace="${links}">
            <a class="navbar-brand" href="/">Learn</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/quizzes" id="dropdownCollections" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Collections</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownCollections">
                        <a class="dropdown-item" href="/collections">Add collection</a>
                        <a class="dropdown-item" href="/collections/list">Collections list</a>
                        <a class="dropdown-item" href="/collections/search">Collections search</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/quizzes" id="dropdownQuzzes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quizzes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownWords">
                        <a class="dropdown-item" href="/quizzes">Add quiz</a>
                        <a class="dropdown-item" href="/quizzes/list">Quizzes list</a>
                        <a class="dropdown-item" href="/quizzes/search">Quizzes search</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/words" id="dropdownWords" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Words</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownWords">
                        <a class="dropdown-item" href="/words">Add word</a>
                        <a class="dropdown-item" href="/words/list">Words list</a>
                        <a class="dropdown-item" href="/words/search">Words search</a>
                    </div>
                </li>
            </ul>
        </th:block>
    </div>
</div>

<div th:fragment="general(content)">
    <div th:replace="${content}">
        Replace this content.
    </div>
</div>

<footer th:fragment="footer" class="footer">
    <div class="footer_container">
        <h3 class="container text-center">My footer</h3>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>
</body>
</html>