<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{this :: title},_,~{this :: #scripts})">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Words search</title>
    <th:block id="scripts">
        <script type="text/javascript" src="/js/words.js"></script>
    </th:block>
</head>
<body>
<div th:replace="layout :: header(_)">Header</div>
<div th:replace="layout :: general(~{this :: #content})">
    <div id="content">
        <div class="container justify-content-center col-5">
            <div class="alert alert-primary">Words</div>
            <div class="alert alert-warning" id="result_panel">Result panel</div>
            <form class="container justify-content-center col-7">
                <label for="word">Enter word:</label>
                <div class="input-group">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" name="word" id="word">
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary" id="add_word">Add word</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="layout :: footer">Footer</footer>
</body>
</html>